<section class="custom-shadow bg-white p-4">
   <h2 class="mb-4 text-xl">Наші автори</h2>
   <ul class="divide-y">
     <li class="py-3">
       <a href="#" class="group flex items-center gap-2">
         <img src="./img/avatars/humeniuk.webp" alt="" class="h-12 w-12 shrink-0 overflow-hidden rounded-full" />
         <div>
           <h3 class="font-medium text-slate-700">Дана Гуменюк</h3>
           <div class="flex items-center gap-2 text-sm text-slate-400 transition-colors group-hover:text-secondary">
             <span>Всі пости</span>
             <svg class="h-4 w-4">
               <use href="./sprites/sprite.svg#icon-arrow"></use>
             </svg>
           </div>
         </div>
       </a>
     </li>

     <li class="py-3">
       <a href="#" class="group flex items-center gap-2">
         <img src="./img/avatars/frolov.webp" alt="" class="h-12 w-12 shrink-0 overflow-hidden rounded-full" />
         <div>
           <h3 class="font-medium text-slate-700">Дмитро Фролов</h3>
           <div class="flex items-center gap-2 text-sm text-slate-400 transition-colors group-hover:text-secondary">
             <span>Всі пости</span>
             <svg class="h-4 w-4">
               <use href="./sprites/sprite.svg#icon-arrow"></use>
             </svg>
           </div>
         </div>
       </a>
     </li>
     <!-- sdfsdfsfsdfs -->
   </ul>
 </section>