<section class="custom-shadow bg-white p-6">
  <div class="flex flex-col items-center gap-y-4">
    <a href="#">
      <img src="./img/avatars/humeniuk.webp" alt="humeniuk" class="block lg:h-36 lg:w-36 h-24 w-24 rounded-full shadow-lg" />
    </a>
    <h2 class="mb-0 text-xl">Дана Гуменюк</h2>
    <div>
      <span
      id="author-desc"
        class="text-xs leading-none lg:text-sm text-center italic text-slate-600"
        data-text='"Стрічка коду – моя палітра, веб-простір&nbsp– мій холст. Я допомагаю перетворювати ідеї в онлайн-реальність, наводячи красу й функціональність на кожну сторінку. Мої ідеї –
      це двері у світ веб-розробки, де технічна майстерність зустрічається з творчістю."'></span>
    </div>
  </div>
</section>
