<section class="custom-shadow bg-white p-4">
   <h2 class="mb-4 text-xl">Категорії</h2>
   <ul class="flex flex-wrap gap-2">
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> SEO </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Бізнес </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Ідеї </a>
     </li>
     <li>
       <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Дизайн </a>
     </li>
   </ul>
 </section>