<footer class="bg-slate-100 pb-6 pt-16">
  <div class="container">
    <div class="flex flex-col items-center justify-between gap-6 border-b pb-6 text-center lg:flex-row">
      <a href="index.html" class="text-2xl font-semibold text-secondary transition-opacity hover:opacity-60"> { <span class="text-xl text-slate-800">WebSculptor</span> } </a>
      <nav class="">
        <ul class="flex items-center gap-2 max-sm:flex-wrap max-sm:justify-center sm:gap-4">
          <li>
            <a href="" class="font-medium text-slate-700 transition-colors hover:text-secondary">Головна</a>
          </li>
          <li>
            <a href="" class="font-medium text-slate-700 transition-colors hover:text-secondary">Про нас</a>
          </li>
          <li>
            <a href="" class="font-medium text-slate-700 transition-colors hover:text-secondary">Послуги</a>
          </li>
          <li>
            <a href="" class="font-medium text-slate-700 transition-colors hover:text-secondary">Портфоліо</a>
          </li>
          <li>
            <a href="" class="font-medium text-slate-700 transition-colors hover:text-secondary">Блог</a>
          </li>
        </ul>
      </nav>
      <div class="flex flex-col items-start gap-y-1">
        <a href="tel:+380663169394" class="flex items-center gap-3 transition-colors hover:text-secondary">
          <svg class="h-5 w-5 text-secondary">
            <use href="./sprites/sprite.svg#icon-phone"></use>
          </svg>
          <span>+(380) 66-316-93-94</span>
        </a>
        <a href="mailto:websculptor.online@gmail.com" class="flex items-center gap-3 transition-colors hover:text-secondary">
          <svg class="h-5 w-5 text-secondary">
            <use href="./sprites/sprite.svg#icon-mail"></use>
          </svg>
          <span>websculptor.online@gmail.com</span>
        </a>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row pt-6 w-full justify-center items-center gap-2 sm:justify-between">
      <p class="text-xs text-slate-500">© Copyright 2023. Всі права захищено.</p>
      <p class="text-xs text-slate-500">Зображення: <a href="https://www.freepik.com/author/stories" class="text-secondary hover:underline">storyset</a></p>
    </div>
  </div>
</footer>
