<header id="main-header" class="fixed left-0 top-0 w-full z-50 bg-slate-100 transition-all">
  <div class="container flex items-center gap-8 py-4 sm:py-8 transition-all">
    <a href="" class="mr-auto text-2xl font-semibold relative z-30 text-secondary transition-opacity hover:opacity-60">
      { <span class="text-xl text-slate-800">WebSculptor</span> }
    </a>
    <nav id="header-menu" class="max-lg:bg-slate-100 max-lg:flex max-lg:flex-col z-10 items-center  max-lg:fixed max-lg:w-full max-lg:h-full max-lg:top-0 max-lg:left-full transition-all duration-500 ease-in-out">
      <ul class="flex max-lg:flex-col items-center gap-4 max-lg:pt-40 max-sm:pt-24">
        <li><a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Головна</a></li>
        <li><a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Про нас</a></li>
        <li><a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Переваги</a></li>
        <li><a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Ціни</a></li>
        <li><a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Питання</a></li>
        <li><a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Блог</a></li>
        <li>
          <a href="" class="font-medium max-lg:text-2xl max-lg:font-semibold  text-slate-700 transition-colors hover:text-secondary">Генератор сайтів</a>
        </li>
      </ul>
    </nav>
    <a
    data-da="#header-menu,640,last"
      href=""
      class="relative z-30 group max-sm:mt-6 inline-flex items-center gap-2 rounded-xl bg-secondary px-4 py-2 text-lg font-semibold text-white transition-all hover:bg-secondary/80 hover:shadow-sm">
      <span>Зв'язатися з нами</span>
    </a>
    <button id="open-menu" class="relative z-30 h-10 w-10 text-slate-800 lg:hidden">
      <div class="absolute left-1/2 top-1/2 block w-5 -translate-x-1/2 -translate-y-1/2 transform">
        <span
          class="absolute block h-0.5 w-4 -translate-y-1.5  transform bg-primary transition-all duration-500 ease-in-out"></span>
        <span
          class="opacity-1 absolute block h-0.5 w-5 transform bg-primary transition-all duration-500 ease-in-out"></span>
        <span
          class="absolute block h-0.5 w-6 translate-y-1.5  transform bg-primary transition-all duration-500 ease-in-out"></span>
      </div>
    </button>
  </div>
</header>
