<header id="main-header" class="fixed left-0 top-0 z-50 w-full bg-slate-100 transition-all">
  <div class="container flex items-center gap-12 py-4 transition-all sm:py-8">
    <a href="index.html" class="relative z-30 mr-auto text-2xl font-semibold text-secondary transition-opacity hover:opacity-60">
      { <span class="text-xl text-slate-800">WebSculptor</span> }
    </a>
    <nav
      id="header-menu"
      class="z-10 items-center  duration-500 ease-in-out max-lg:fixed  max-lg:top-0 max-lg:left-full max-lg:flex max-lg:h-full max-lg:w-full max-lg:flex-col max-lg:bg-slate-100">
      <ul class="flex items-center gap-4 max-lg:flex-col max-lg:pt-40 max-sm:pt-24">
        <li class="header-menu-item"><a href="index.html" class=" font-medium text-slate-700 transition-colors hover:text-secondary max-lg:text-2xl max-lg:font-semibold">Головна</a></li>
        <li class="header-menu-item"><a href="about.html" class=" font-medium text-slate-700 transition-colors hover:text-secondary max-lg:text-2xl max-lg:font-semibold">Про нас</a></li>
        <li class="header-menu-item"><a href="services.html" class=" font-medium text-slate-700 transition-colors hover:text-secondary max-lg:text-2xl max-lg:font-semibold">Послуги</a></li>
        <li class="header-menu-item"><a href="portfolio.html" class=" font-medium text-slate-700 transition-colors hover:text-secondary max-lg:text-2xl max-lg:font-semibold">Портфоліо</a></li>
        <li class="header-menu-item"><a href="blog.html" class=" font-medium text-slate-700 transition-colors hover:text-secondary max-lg:text-2xl max-lg:font-semibold">Блог</a></li>
      </ul>
    </nav>
    <a
      data-da="#header-menu,1024,last"
      href="order.html"
      class="header-btn flex max-lg:mt-8 items-center relative z-30 justify-center gap-2 whitespace-nowrap rounded-xl bg-secondary font-semibold text-white transition-all hover:bg-secondary/80 hover:shadow-sm px-4 py-3">
      <span>Замовити сайт</span>
    </a>
    <button id="open-menu" class="relative z-30 h-10 w-10 text-slate-800 lg:hidden">
      <div class="absolute left-1/2 top-1/2 block w-5 -translate-x-1/2 -translate-y-1/2 transform">
        <span class="absolute block h-0.5 w-4 -translate-y-1.5 transform bg-primary transition-all duration-500 ease-in-out"></span>
        <span class="opacity-1 absolute block h-0.5 w-5 transform bg-primary transition-all duration-500 ease-in-out"></span>
        <span class="absolute block h-0.5 w-6 translate-y-1.5 transform bg-primary transition-all duration-500 ease-in-out"></span>
      </div>
    </button>
  </div>
</header>
