<section class="custom-shadow bg-white p-4">
   <h2 class="mb-4 text-xl">Пошук</h2>
   <form role="search" method="" id="" action="" class="relative flex items-center justify-between rounded-md border py-1 pl-4 transition-colors focus-within:border-secondary/60">
     <div class="w-full grow">
       <label class="sr-only">Пошук</label>
       <input required autocomplete="off" type="text" class="peer w-full rounded-md focus:border-0 focus:outline-none" />
       <span
         class="pointer-events-none absolute left-2 top-1/2 -translate-y-1/2 bg-white px-2 text-base text-slate-400 transition-all duration-200 peer-valid:top-0 peer-valid:text-sm peer-focus:top-0 peer-focus:text-sm"
         >Пошук</span
       >
     </div>
     <button type="submit" id="" class="px-4 py-2">
       <svg class="h-5 w-5">
         <use href="./sprites/sprite.svg#icon-search"></use>
       </svg>
     </button>
   </form>
   <div></div>
 </section>