<aside
  id="sidebar"
  class="max-md:custom-shadow w-[290px] space-y-6 pb-6 transition-all duration-500 ease-in-out max-md:fixed max-md:left-0 -translate-x-full max-md:top-0 max-md:h-screen max-md:bg-slate-50 max-md:px-6 max-md:pt-section-xl max-sm:pt-section-lg md:w-60 md:shrink-0 lg:w-80">
  <section class="custom-shadow bg-white p-4">
    <h2 class="mb-4 text-xl">Пошук</h2>
    <form role="search" method="" id="" action="" class="relative flex items-center justify-between rounded-md border py-1 pl-4 transition-colors focus-within:border-secondary/60">
      <div class="w-full grow">
        <label class="sr-only">Пошук</label>
        <input required autocomplete="off" type="text" class="peer w-full rounded-md focus:border-0 focus:outline-none" />
        <span
          class="pointer-events-none absolute left-2 top-1/2 -translate-y-1/2 bg-white px-2 text-base text-slate-400 transition-all duration-200 peer-valid:top-0 peer-valid:text-sm peer-focus:top-0 peer-focus:text-sm"
          >Пошук</span
        >
      </div>
      <button type="submit" id="" class="px-4 py-2">
        <svg class="h-5 w-5">
          <use href="./sprites/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div></div>
  </section>
  <section class="custom-shadow bg-white p-4">
    <h2 class="mb-4 text-xl">Категорії</h2>
    <ul class="flex flex-wrap gap-2">
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> SEO </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Розробка </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Бізнес </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Ідеї </a>
      </li>
      <li>
        <a href="#" class="rounded-md bg-slate-200 px-2 py-1 text-sm text-slate-600 transition-colors hover:bg-slate-600 hover:text-white"> Дизайн </a>
      </li>
    </ul>
  </section>

  <section class="custom-shadow bg-white p-4">
    <h2 class="mb-4 text-xl">Наші автори</h2>
    <ul class="divide-y">
      <li class="py-3">
        <a href="#" class="group flex items-center gap-2">
          <img src="./img/avatars/humeniuk.webp" alt="" class="h-12 w-12 shrink-0 overflow-hidden rounded-full" />
          <div>
            <h3 class="font-medium text-slate-700">Дана Гуменюк</h3>
            <div class="flex items-center gap-2 text-sm text-slate-400 transition-colors group-hover:text-secondary">
              <span>Всі пости</span>
              <svg class="h-4 w-4">
                <use href="./sprites/sprite.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
      </li>

      <li class="py-3">
        <a href="#" class="group flex items-center gap-2">
          <img src="./img/avatars/frolov.webp" alt="" class="h-12 w-12 shrink-0 overflow-hidden rounded-full" />
          <div>
            <h3 class="font-medium text-slate-700">Дмитро Фролов</h3>
            <div class="flex items-center gap-2 text-sm text-slate-400 transition-colors group-hover:text-secondary">
              <span>Всі пости</span>
              <svg class="h-4 w-4">
                <use href="./sprites/sprite.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
      </li>
      <!-- sdfsdfsfsdfs -->
    </ul>
  </section>
</aside>
