/* Import lib styles  */
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/autoplay/autoplay.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/parallax/parallax.scss";
// @import '../../node_modules/swiper/modules/scrollbar/scrollbar.scss';
// @import '../../node_modules/nouislider/dist/nouislider.min';
@import "../../node_modules/aos/src/sass/aos.scss";
// @import '../../node_modules/choices.js/src/styles/choices.scss';
// "./lib/tips";

@import "fonts";
@import "lib/tips";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-p-16 scroll-smooth;
  }
  body {
    @apply font-inter text-base text-slate-800;
  }

  h2 {
    @apply mb-6 text-3xl font-extrabold md:mb-10 md:text-4xl;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.particles-js-canvas-el {
  @apply fixed left-0 top-0 -z-10 h-full w-full;
}

.active-header-icon div {
  @apply [&>*:nth-child(1)]:w-6 [&>*:nth-child(1)]:-translate-y-0 [&>*:nth-child(1)]:rotate-45 
   [&>*:nth-child(2)]:opacity-0 [&>*:nth-child(3)]:translate-y-0 
   [&>*:nth-child(3)]:-rotate-45;
}

.scroll {
  @apply shadow-md;
  & > div {
    @apply py-4;
  }
}

.lock {
  @apply overflow-hidden;
}

@layer utilities {
  .custom-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .perspective {
    perspective: 1000px;
  }
  .transform-perspective {
    transition: all 0.2s linear;
    transform-style: preserve-3d;
  }
  .toggle-checkbox {
    input:checked + label {
      &::after {
        transform: translateY(-50%) translateX(100%);
        background: #fff;
      }
      &::before {
        background: #263238;
        border: 1px solid transparent;
      }
    }
    label {
      cursor: pointer;

      position: relative;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      &::before {
        content: "";
        width: 40px;
        height: 22px;
        flex-shrink: 0;
        background: #fff;
        border: 1px solid #8f8f8f;
        border-radius: 15px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        background: #263238;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-50%);
        left: 2px;
        transition: transform 0.3s ease;
      }
    }
  }
}

/*
  sliders
*/

.half-slider {
  @apply custom-shadow mx-auto w-full overflow-hidden rounded-lg sm:w-5/6;
}
.half-wrapper {
  @apply flex;
}
.half-slide {
  @apply relative shrink-0 text-white;
}

.pagination {
  @apply mt-8 flex justify-center;
  .swiper-pagination-bullet {
    @apply h-2 w-5 rounded-lg transition-all duration-300;
  }
  .swiper-pagination-bullet {
    @apply bg-primary;
  }
}

.full-slider {
  @apply -m-3 w-full overflow-hidden p-3;
}
.full-wrapper {
  @apply flex;
}
.full-slide {
  @apply relative shrink-0 text-sm sm:text-base;
  &.swiper-slide-next {
    @apply transition-opacity duration-200 max-sm:opacity-50;
  }
}

.active-spoiler svg {
  @apply rotate-180;
}

#section-services {
  .active-spoiler {
    @apply rounded-bl-none rounded-br-none  border-b-slate-200;
    #service-arrow {
      @apply bg-blue-500;
    }
    #service-price {
      @apply text-blue-500;
    }
  }
  .active-spoiler-content {
    @apply border border-t-0;
  }
}

#header-menu {
  &.active {
    @apply -translate-x-full;
  }
}

/*
  search
*/

.searchwp-live-search-results .searchwp-live-search-results-showing {
}
.searchwp-live-search-no-min-chars:after {
  content: "Продовжуйте писати";
}

// =========================================================================================================================

/*
  tabs
*/

.active-tab-caption {
  @apply  text-secondary border-b-2 border-secondary;
}
.active-tab-content {
  @apply flex -translate-x-0 opacity-100 ;
  animation: fade-in-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}



// =========================================================================================================================

/*
  header-link
*/

.active-link {
  animation: fade-in-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: calc(var(--i) * 0.2s);
}


// =========================================================================================================================

/*
  modal
*/
.modal {
  display: none;
  &.is-open {
    display: block;
  }
}